/* Brandon $font-face kit */

/* BEGIN BrandonGrotesque-Light */
@font-face {
  font-family: 'Brandon';
  src: url(../helpers/fonts/roboto/light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
/* END BrandonGrotesque-Light */
/* BEGIN BrandonGrotesque-Regular */
@font-face {
  font-family: 'Brandon';
  src: url(../helpers/fonts/roboto/regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* END BrandonGrotesque-Regular */
/* BEGIN BrandonGrotesque-Medium */
@font-face {
  font-family: 'Brandon';
  src: url(../helpers/fonts/roboto/medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* END BrandonGrotesque-Medium */
/* BEGIN BrandonGrotesque-Black */
@font-face {
  font-family: 'Brandon';
  src: url(../helpers/fonts/roboto/black.ttf)  format('truetype');
  font-weight: 600;
  font-style: normal;
}
/* END BrandonGrotesque-Black */
/* BEGIN BrandonGrotesque-Bold */
@font-face {
  font-family: 'Brandon';
  src: url('../helpers/fonts/roboto/bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* END BrandonGrotesque-Bold */
